.container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
    .container input {
        width: 45vw;
        height: 50px;
        border: none;
        padding: 8px;
        border-radius: 10px 0 0 10px;
        font-size: 1em;
        color: #484848;
        padding: 15px;
    }

    .container button {
        cursor: pointer;
        width: 15vw;
        border: none;
        border-radius: 0 10px 10px 0;
        background-color: #414142;
        color: #fff;
        font-size: 1.4em;
    }
    .container button:hover {
        background-color: #171818;   
    }